<h3><%=link_to "Users", users_url %></h3>
<div id="nav">
  <% if current_user %>
    <%= current_user.email %><br>
    <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
    <%= link_to "Logout", :logout, method: :post %>
  <% else %>
    <%= link_to "Register", new_user_path %> |
    <%= link_to "Login", :login %> <br>
    <%= link_to "Login as first user", autologin_path(User.first) if User.first %>
  <% end %>
</div>
