!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title policy_practice
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    .container-fluid
      .row
        .col-2
          %h1=link_to "Entries", entries_url
          =link_to "Add a new entry", new_entry_url
          = render 'layouts/access'
          = link_to "Admin", admin_path
        .col-10
          %turbo-frame#flash
            = render 'layouts/flash'
          = yield
